<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer id="footer">
<a role="button" class="btn btn-warning" href="/adminlogin">Admin Login</a>
<a role="button" class="btn btn-danger" href="/admin">Admin</a>
</footer>
