<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="navbar-header">
        <a href="/"><p id="main" class="navbar-brand">Random Twitch Stream</p></a>
      </div>
      <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a role="button" href="/about">About</a></li>
      <li><a role="button" href="/chatroom">Chatroom</a></li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
</nav>
